:root{
    --primary: #fff;
    background-color: azure;
}

.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .navbar-logo {
    color: coral;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  