@font-face {
     font-family:Comfortaa ;
     src: url(./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
     font-family:Roboto; 
     src: url(./fonts/Roboto/static/Roboto-Regular.ttf);
}